#navbar{
    flex-direction: column;
}
#home::before{
    height: 620px;
    width: 125%;
}
#home p{
    width: 300px;
    font-size: 1rem;
}
.h-primary{
    font-size: 26px;
}
#services{
    
    margin: 0px 60px;
    flex-direction: column;

}